.team__card__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .team__card__img__container{
        border-radius: 45% 50% 45% 50%;
        height: 200px;
        width: 200px;
        .team__card__img {
            height: 100%; 
            width: 100%;
           border-radius: 50% 5% 50% 5%;
           object-fit: cover;
        }
    }
    .team__card__content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .team__card__name {
            margin-top: 0.8rem;
            font-size: 1.5rem;
            font-weight: 700;
            text-align: center;
            color: var(--h4bred);
            font-family: var(--heading-font);
        }
    
        .team__card__title {
            font-size: 15px;
            font-weight: light;
            font-family: var(--body-font);
        }
    
        .team__card__social__icon__container {
            margin-top: 0.2rem;
            display: flex;
            justify-content: center;
            gap: .5rem;
        }
    
    }
    
}
