.team__card__container {
    display: flex;
    flex-basis: 33.333333%;
    flex-direction: column;
    align-items: center;

    .team__card__img {
        width: 270px;
        height: 270px;
        border-radius: 50% 10% 50% 10%;
    }

    .team__card__name {
        margin-top: 0.8rem;
        font-size: 1.7rem;
        font-weight: 700;
        text-align: center;
        color: var(--h4bred);
    }

    .team__card__title {
        font-size: .9rem;
        font-weight: light;
        text-align: center;
    }

    .team__card__social__icon__container {
        margin-top: 0.2rem;
        display: flex;
        justify-content: center;
        gap: .5rem;

        .team__card__social__icon__linkedin {
            height: 20px;
            width: 20px;
        }

        .team__card__social__icon__twitter {
            height: 14px;
            width: 14px;
        }
    }

}