.team__container {
    margin-top: 5rem;

    .team__organizers__container {
        margin: clamp(.8rem, 10%, 10rem) .7rem;

        .team__organizers__header {
            margin: 5rem 0;
            font-size: clamp(3rem, 7vw, 5rem);
            line-height: 3rem;
            text-align: center;
            letter-spacing: 0em;
            font-family: var(--heading-font);
            position: relative;
            z-index: 2;
            text-wrap: nowrap;

            h2 {
                font-size: clamp(1.8rem, 2.5vw, 2.8rem);
                font-weight: 700;
                width: 100%;

                &::after {
                    content: "";
                    position: absolute;
                    border: 1px solid var(--h4bred);
                    width: clamp(280px, 30%, 250px);
                    bottom: -16px;
                    left: 50%;
                    transform: translate(-50%, -50%);

                }
            }
        }

        .team__organizers__child__container {
            padding: 4rem 9rem;
            margin-top: 7rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 3.5rem;
        }

    }

    .team__core__container {
        overflow: hidden;

        .team__core__header {
            margin: 5rem 0;
            font-size: clamp(3rem, 7vw, 5rem);
            line-height: 3rem;
            text-align: center;
            letter-spacing: 0em;
            font-family: var(--heading-font);
            position: relative;
            z-index: 2;
            text-wrap: nowrap;

            h1 {
                font-weight: 900;
                font-size: 86px;

                letter-spacing: 0em;
                color: rgba(255, 255, 255, 0.09);
                position: absolute;
                left: 50%;
                top: -20%;
                transform: translate(-50%, -50%);
                z-index: 2;
                &:nth-child(2) {
                    top: 4.2rem;

                }
                @media screen and (max-width: 900px) {
                    font-size: 90px;

                    &:nth-child(2) {
                        top: 4rem;

                    }
                }

            }


            h2 {
                font-size: clamp(2.2rem, 2.5vw, 2.8rem);
                font-weight: 700;
                width: 100%;

                &::after {
                    content: "";
                    position: absolute;
                    border: 1px solid var(--h4bred);
                    width: clamp(280px, 30%, 250px);
                    bottom: -16px;
                    left: 50%;
                    transform: translate(-50%, -50%);

                }
            }
        }

        .team__core__child__container {
            margin-top: 9rem;
            display: flex;
            padding: 4rem 10rem;
            gap: 3.5rem;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }

    }
}
