.button {
  display: inline-block;
  border: 3px solid var(--h4bred);
  font-family: var(--heading-font);
  text-transform: uppercase;
  padding: 0.4rem 3rem;
  font-size: 17px;
  color: var(--text-color);
  border-radius: 20px;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  text-wrap: nowrap;

  &.solid {
    background-color: var(--h4bred);
  }

  &.outline {
    background: none;
  }

  &:hover {
    &.solid:hover {
      background-color: transparent;
    }

    &.outline:hover {
      background-color: var(--h4bred);
    }
  }

  &.loading {
    cursor: not-allowed;
    opacity: 0.7;
    pointer-events: none;
  }

  &:disabled,
  &.disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &.solid {
      background-color: var(--h4bred) !important;
    }

    &.outline {
      background-color: transparent !important;
    }
  }

  @media screen and (max-width: 576px) {
    padding: 0.4rem 2rem;
    font-size: 15px;
    text-wrap: nowrap;
  }
}
