.header__parent {
  font-size: clamp(3rem, 7vw, 5rem);
  line-height: 3rem;
  text-align: center;
  letter-spacing: 0em;
  font-family: var(--heading-font);
  position: relative;
  z-index: 2;
  text-wrap: nowrap;

  h1 {
    font-weight: 900;
    color: rgba(255, 255, 255, 0.06);
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 20%;
    z-index: -2;

    &::after {
      content: "";
      position: absolute;
      border: 1px solid var(--h4bred);
      width: 250px;
      bottom: -55px;
      left: 50%;
      transform: translate(-50%, -50%);

      @media screen and (max-width: 576px) {
        bottom: -40px;
        width: 160px;
      }
    }

    @media screen and (max-width: 576px) {
      top: 4%;
      left: 50%;
    }
  }

  h2 {
    font-size: clamp(1.8rem, 2.5vw, 2.8rem);
    font-weight: 700;
    width: 100%;
  }
}
