.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeIn 0.3s ease-in-out;

  .modal__content {
    background: #303030;
    border: 3px solid var(--h4bred);
    padding: 35px 35px 35px 55px;
    border-radius: 10px;
    position: relative;
    min-height: 350px;
    width: 500px;
    transform: scale(0.7);
    animation: scaleIn 0.3s ease-in-out forwards;

    @media screen and (max-width: 549px) {
      min-height: 350px;
      width: 350px;
      padding: 27px 27px 27px 50px;
    }
    @media screen and (max-width: 400px) {
      height: 400px;
      width: 350px;
      padding: 30px 30px 30px 52.5px;
    }
    @media screen and (max-width: 370px) {
      height: 400px;
      width: 300px;
    }
    @media screen and (max-width: 300px) {
      height: 400px;
      width: 280px;
    }
  }

  .modal__close {
    display: flex;
    justify-content: flex-end;
    button {
      background: transparent;
      border: none;
      outline: none;
      cursor: pointer;
    }
  }

  ol {
    :nth-child(1) {
      margin-top: 10px;
    }
    li {
      color: #fff;
      font-family: var(--body-font);
      padding: 10px 5px;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}
