.timeline {
  margin-top: 12rem;
  padding: 0 10px;
  .timeline__content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 4rem;
    margin-top: 4rem;
    padding: 4rem 7rem 0 7rem;

    @media screen and (max-width: 576px) {
      padding: 0;
      gap: 2.5rem;
    }

    .timeline__event {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }

    .timeline__image-container {
      height: 150px;
      width: 150px;

      @media screen and (max-width: 940px) {
        height: 120px;
        width: 120px;
      }

      @media screen and (max-width: 562px) {
        height: 60px;
        width: 60px;
      }

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .timeline__date {
      padding: 10px 5px;
      text-align: center;
      background-color: red;
      width: 100%;
      border-radius: 5px;
      margin-top: 15px;
      font-family: Montserrat, sans-serif;
      font-size: 14px;
      font-weight: 600;

      @media screen and (max-width: 562px) {
        font-size: 10px;
        padding: 5px 5px;
      }
    }
  }
}
