.timeline__parent {
  padding: 4rem 0rem;
  padding-top: 0;
  margin-top: 0rem;
  position: relative;
  overflow: hidden;

  @media screen and (max-width: 576px) {
    padding: 3rem 1.5rem;
  }

  .timeline_body {
    display: flex;
    align-items: center;

    @media screen and (max-width: 576px) {
      justify-content: center;
    }

    .timer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 4rem;
      margin-top: -4rem;

      @media screen and (max-width: 576px) {
        margin-top: 0rem;
        gap: 3rem;
      }

      .header_1 {
        font-family: "Montserrat", sans-serif;
        letter-spacing: 2px;
        font-size: 77px;
        text-align: center;
        color: white;
        font-weight: 800;

        z-index: 1;

        background: #ffffff;
        background: linear-gradient(to right, #ffffff 0%, #ff0000 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        @media screen and (max-width: 576px) {
          font-size: 48px;
        }
      }

      .countdown {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        z-index: 1;

        @media screen and (max-width: 576px) {
          gap: 10px;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          width: 90%;
          row-gap: 20px;
          justify-content: center;
          .colon {
            justify-content: center;
            display: flex;
          }
        }

        .time {
          font-family: "Montserrat", sans-serif;
          font-size: 60px;
          text-align: center;
          color: white;
          font-weight: 800;
          line-height: 1;
          background-color: #2a2727;
          padding: 1rem;
          border-radius: 18px;
          width: 115px;
          height: 115px;

          @media screen and (max-width: 576px) {
            font-size: 35px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 0.5rem;
          }

          p:nth-child(2) {
            font-size: 18px;
            font-weight: 600;

            @media screen and (max-width: 576px) {
              font-size: 15px;
            }
          }
        }

        .colon {
          font-size: 60px;
        }

        .hidecolon {
          @media screen and (max-width: 576px) {
            display: none;
          }
        }
      }
    }
  }

  .mask {
    right: 0;
    top: 0;
    position: absolute;
    width: 45%;

    @media screen and (max-width: 576px) {
      width: 100%;
    }
  }

  .letters {
    width: 45%;
    opacity: 0.7;
    right: 9rem;
    top: 10rem;
    position: absolute;

    @media screen and (max-width: 576px) {
      display: none;
    }
  }

  .ghori {
    width: 55%;

    @media screen and (max-width: 576px) {
      display: none;
    }
  }

  .text {
    width: 35%;
  }
}

.colon {
  animation: blink 2s infinite; // Adjust the animation duration as needed
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
