.testimonials__parent {
  padding: 4rem 7rem;
  padding-bottom: 0;
  margin-top: 8rem;
  position: relative;
  overflow: hidden;

  @media screen and (max-width: 1000px) {
    padding-inline: 4rem;
  }

  @media screen and (max-width: 576px) {
    padding: 2.4rem 1.5rem;
    margin-top: 2rem;
  }

  .testimonials__container {
    margin-top: 4.5rem;
    .testimonials__card {
      border-radius: 10px;
      background: #222222;
      font-family: "Poppins", sans-serif;
      padding: 1.2rem;
      width: 400px;

      cursor: pointer;
      margin: 0 1.5rem;

      @media screen and (max-width: 576px) {
        min-width: 300px;
      }

      .testimonials__text {
        font-size: 15px;
        font-weight: 400;
        line-height: 1.5;
        color: var(--text-color);
        word-break: break-all;
      }

      .testimonials__card_footer {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-top: 1.8rem;

        img {
          width: 60px;
          height: 60px;
          border-radius: 50%;
        }

        .testimonials__card_author {
          h2 {
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1;
            color: #ff1f1f;

            @media screen and (max-width: 576px) {
              font-size: 1rem;
              color: #ff6161;
            }
          }

          p {
            font-size: 14px;
            font-weight: 400;
            line-height: 1;
            color: var(--text-color);
            word-break: break-all;
          }
        }
      }
    }

    .large {
      width: 550px;
      max-height: 198px;
    }
  }
}

.reversed {
  &:hover .testimonials__card {
    animation-play-state: paused !important;
  }

  @keyframes scrollreversed {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  .testimonials__card {
    min-width: 550px !important;
    animation: scrollreversed 6s linear infinite !important;

    @media screen and (max-width: 576px) {
      min-width: 300px !important;
    }
  }
}
