.timer-body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  font-size: 3rem;
  color: #fff;
  font-weight: bolder;
  gap: 40px;
}

.time {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1;
  animation: glowingt 2s ease-in-out infinite;
}

.time-label {
  font-size: 1.5rem;
  color: #fff;
  font-weight: bold;
}

.row_cut_450 {
  gap: 25px;
  line-height: 1;
  display: flex;
  flex-direction: row;
}
.column_cut_450 {
  gap: 25px;
  line-height: 1;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 991px) {
  .timer-body {
    font-size: 2.5rem;
    gap: 20px;
    width: 90%;
    justify-items: center;
    justify-content: center;
  }
}
