.venue_parent {
  padding: 0% 9%;
}

.venue_parent > h1 {
  color: white;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  text-align: center;
  letter-spacing: 1px;
}

.venue_parent > iframe {
  width: 100%;
  height: 75vh;
  border-radius: 10px;
  border: none;
  object-fit: contain;
  margin-bottom: 4rem;
}
