.marquee_container {
  background: rgba(96, 87, 87, 1);
}

.marquee {
  font-family: var(--marquee-font);
  letter-spacing: 0.24em;
  text-align: center;
  white-space: nowrap;
  font-size: 1.5rem;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
