@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.about_god {
  display: flex;
  justify-content: center;
  align-items: center;
}

.h4b_about_main {
  color: white;
  font-family: 'Poppins';
}

.h4b_about_main h1 {
  color: white;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  text-align: center;
  letter-spacing: 1px;
}

.h4b_about_main hr {
  width: 10%;
  margin: auto;
  border: 1px solid #e13b3c;
  margin-bottom: 2rem;
}

.h4b_about_sub {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  align-items: center;
  /*  justify-content: center; */
}

.playeryoga {
  width: 400px;
  height: 400px;
}

.h4b_about_textdiv {
  font-size: 19px;
  width: 60%;
}

.h4b_about_textdiv span {
  color: #e13b3c;
}

@media screen and (max-width: 1025px) {
  .h4b_about_sub {
    flex-direction: column;
    align-items: center;
    padding: 0 2rem;
    justify-content: center;
    text-align: center;
    width: 100%;
  }

  .h4b_about_textdiv_sub {
    text-align: center !important;
  }

  .h4b_about_textdiv {
    width: 90%;
  }
}

@media screen and (max-width: 769px) {
  .h4b_about_more {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 430px) {
  .playeryoga {
    height: auto;
    width: 90vw;
    margin: auto;
  }
}

@media screen and (max-width: 450px) {
  .h4b_about_sub {
    padding: 0 0rem;
  }

  .h4b_about_textdiv {
    width: 100%;
  }
}
