.single__sponsor {
  background-color: #171717;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  width: min-content;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 100px;

  @media screen and (max-width: 576px) {
    width: 200px;
    height: 80;
  }

  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    min-width: 200px;

    @media screen and (max-width: 576px) {
      min-width: 170px;
    }
  }
}

.gold {
  border: 1px solid #efc230;
}

.platinum {
  border: 1px solid #e5e4e2;
}
