.single__sponsor {
  background-color: #171717;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  width: min-content;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 100px;

  @media screen and (max-width: 576px) {
    width: 200px;
    height: 80;
  }

  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    min-width: 200px;

    @media screen and (max-width: 576px) {
      min-width: 170px;
    }
  }
}

.gdg > img {
  min-width: 230px !important;

  @media screen and (max-width: 576px) {
    min-width: 190px !important;
  }
}

.gold {
  border: 1px solid #efc230;
  transition: all 0.3s ease;
}

.gold:hover {
  -webkit-box-shadow: inset 0px 0px 13px -2px rgba(239, 194, 48, 1);
  -moz-box-shadow: inset 0px 0px 13px -2px rgba(239, 194, 48, 1);
  box-shadow: inset 0px 0px 13px -2px rgba(239, 194, 48, 1);
  transition: all 0.3s ease;
}

.platinum {
  border: 1px solid #e5e4e2;
  transition: all 0.3s ease;
}

.platinum:hover {
  -webkit-box-shadow: inset 0px 0px 13px -2px rgba(229, 228, 226, 1);
  -moz-box-shadow: inset 0px 0px 13px -2px rgba(229, 228, 226, 1);
  box-shadow: inset 0px 0px 13px -2px rgba(229, 228, 226, 1);
  transition: all 0.3s ease;
}

.silver {
  border: 1px solid #bcc6cc;
  transition: all 0.3s ease;
}

.silver:hover {
  -webkit-box-shadow: inset 0px 0px 13px -2px #bcc6cc;
  -moz-box-shadow: inset 0px 0px 13px -2px #bcc6cc;
  box-shadow: inset 0px 0px 13px -2px #bcc6cc;
  transition: all 0.3s ease;
}

.education {
  border: 3px solid #253c7f;
  transition: all 0.3s ease;
}

.education:hover {
  -webkit-box-shadow: inset 0px 0px 13px -2px #253c7f;
  -moz-box-shadow: inset 0px 0px 13px -2px #253c7f;
  box-shadow: inset 0px 0px 13px -2px #253c7f;
  transition: all 0.3s ease;
}

.bronze {
  border: 1px solid #cd7f32;
  transition: all 0.3s ease;
}

.domain {
  border: 3px solid #471754;
  transition: all 0.3s ease;
}

.merchandise {
  border: 1px solid #00ea19;
  transition: all 0.3s ease;
}

.track {
  border: 1px solid #7230ff;
  transition: all 0.3s ease;
}

.bronze:hover {
  -webkit-box-shadow: inset 0px 0px 13px -2px rgba(205, 127, 50, 1);
  -moz-box-shadow: inset 0px 0px 13px -2px rgba(205, 127, 50, 1);
  box-shadow: inset 0px 0px 13px -2px rgba(205, 127, 50, 1);
  transition: all 0.3s ease;
}

.domain:hover {
  -webkit-box-shadow: inset 0px 0px 13px -2px #471754;
  -moz-box-shadow: inset 0px 0px 13px -2px #471754;
  box-shadow: inset 0px 0px 13px -2px #471754;
  transition: all 0.3s ease;
}

.merchandise:hover {
  -webkit-box-shadow: inset 0px 0px 13px -2px #00ea19;
  -moz-box-shadow: inset 0px 0px 13px -2px #00ea19;
  box-shadow: inset 0px 0px 13px -2px #00ea19;
  transition: all 0.3s ease;
}

.track:hover {
  -webkit-box-shadow: inset 0px 0px 13px -2px #7230ff;
  -moz-box-shadow: inset 0px 0px 13px -2px #7230ff;
  box-shadow: inset 0px 0px 13px -2px #7230ff;
  transition: all 0.3s ease;
}

.tezos:hover {
  -webkit-box-shadow: inset 0px 0px 13px -2px #0d61ff !important;
  -moz-box-shadow: inset 0px 0px 13px -2px #0d61ff !important;
  box-shadow: inset 0px 0px 13px -2px #0d61ff !important;
  transition: all 0.3s ease;
}

.tezos {
  border: 1px solid #0d61ff !important;
}

.callchimp {
  border: 1px solid #3c78d8 !important;
}

.callchimp:hover {
  -webkit-box-shadow: inset 0px 0px 13px -2px #0d61ff !important;
  -moz-box-shadow: inset 0px 0px 13px -2px #0d61ff !important;
  box-shadow: inset 0px 0px 13px -2px #0d61ff !important;
  transition: all 0.3s ease;
}

.composio {
  border: 1px solid #f77b45 !important;
}

.composio:hover {
  -webkit-box-shadow: inset 0px 0px 13px -2px #f77b45 !important;
  -moz-box-shadow: inset 0px 0px 13px -2px #f77b45 !important;
  box-shadow: inset 0px 0px 13px -2px #f77b45 !important;
  transition: all 0.3s ease;
}

.diamante {
  border: 1px solid #9001a8 !important;
}

.diamante:hover {
  -webkit-box-shadow: inset 0px 0px 13px -2px #9001a8 !important;
  -moz-box-shadow: inset 0px 0px 13px -2px #9001a8 !important;
  box-shadow: inset 0px 0px 13px -2px #9001a8 !important;
  transition: all 0.3s ease;
}

.edugraph {
  background-color: #fff;
}
