.mentors__parent {
  padding: 4rem 7rem;
  margin-top: 8rem;
  position: relative;
  overflow: hidden;

  @media screen and (max-width: 576px) {
    padding: 2rem 1.5rem;
    margin-top: 2rem;
  }
  .mentors__container {
    width: 100%;
    margin: auto;
    margin-top: 7rem;
    gap: 2rem;

    @media screen and (min-width: 576px) {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }

    a {
      text-decoration: none;
      color: #fff;
    }

    .nft {
      user-select: none;
      width: 250px;
      border: 1px solid #ffffff22;
      background-color: #282c34;
      background: linear-gradient(
        152deg,
        rgba(255, 23, 23, 0) 0%,
        rgba(33, 32, 32, 0.105) 34.9%,
        rgba(33, 32, 32, 0.163) 62.5%,
        rgba(255, 23, 23, 0.2) 100%
      );
      box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.481);
      transition: all 0.3s ease-in-out;
      cursor: pointer;

      border-radius: 20px;
      backdrop-filter: blur(7px);
      -webkit-backdrop-filter: blur(7px);
      overflow: hidden;
      transition: 0.5s all;

      @media screen and (max-width: 576px) {
        width: 250px;
        margin: 0 1rem;
      }

      &:hover {
        box-shadow: 5px 5px 12px -2px rgba(255, 255, 255, 0.283);
        border: 1px solid #ffffff44;
        transform: scale(1.01);
        ::before {
          top: -100%;
          left: 200%;
        }
      }

      hr {
        width: 100%;
        border: none;
        border-bottom: 1px solid #88888855;
        margin: 8px 0;
        margin-top: 0;
      }

      .main {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 1rem;
        .tokenImage {
          border-radius: 0.5rem;
          max-width: 100%;
          width: 100%;
          object-fit: cover;
          aspect-ratio: 1/1;
        }

        .mentor__info {
          height: 120px;
          margin-top: 1rem;

          h2 {
            font-size: 1.5rem;
            margin: 0.5rem 0;
            color: #ffffff;
            font-family: var(--heading-font);
            white-space: nowrap;
            font-weight: 600;
            margin-bottom: 0.7rem;
          }

          .description {
            margin: 0.5rem 0;
            color: #c0c0c0;
            word-break: break-all;
            font-family: var(--body-font);
            font-size: 15px;
            margin: 0;
          }
        }

        .mentor__social_wrapper {
          display: flex;
          align-items: center;
          gap: 1rem;
          justify-content: center;

          svg {
            width: 20px;
            aspect-ratio: 1/1;
          }
        }
      }
      ::before {
        position: fixed;
        content: "";
        box-shadow: 0 0 100px 40px #ffffff08;
        top: -10%;
        left: -100%;
        transform: rotate(-45deg);
        height: 60rem;
        transition: 0.7s all;
      }
    }
  }

  .mentors__container_desktop {
    @media screen and (max-width: 576px) {
      display: none;
    }
  }

  .mentors__container_mobile {
    @media screen and (min-width: 576px) {
      display: none;
    }
  }
}
