.brandPage_parent {
  padding: 0% 10rem;
  margin-bottom: 2rem;
}

.brandPage_parent > h1 {
  color: white;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  text-align: center;
  letter-spacing: 1px;
}

.brandPage_brandCard_parent {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .brandPage_parent {
    padding: 0% 0rem;
  }
}
