p {
    margin-top: 5px;
    margin-bottom: 15px;
}

.privacy_policy_parent {
    display: flex;
    justify-content: center;
}

.privacy_policy {
    max-width: 70%;
    padding: 50px 0px;
    color: white;
    /* color: #E13B3C; */
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-family: "Poppins";
}

.privacy_policy hr:nth-child(2) {
    margin: auto;
    margin-bottom: 20px;
}


.privacy_policy hr {
    margin: 0px;
    margin-bottom: 20px;
}

.privacy_policy h2 {
    color: #E13B3C;
    margin-bottom: 10px;

    /* color: white; */
}

.privacy_policy a {
    color: #E13B3C;
    cursor: pointer;
}