.prizes__parent {
  padding: 4rem 7rem;
  padding-bottom: 0;
  margin-top: 8rem;
  position: relative;
  overflow: hidden;

  @media screen and (max-width: 576px) {
    padding: 2rem 1.5rem;
    margin-top: 2rem;
  }

  .red__blob {
    position: absolute;
    top: -34rem;
    left: -17rem;
    border-radius: 50%;
    z-index: 1;
  }

  .white__blob {
    position: absolute;
    border-radius: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    left: 90%;
    top: 49%;
  }

  .prizes__topcards {
    display: flex;
    z-index: 4;
    position: relative;
    justify-content: center;
    gap: 5rem;
    align-items: baseline;

    @media screen and (max-width: 576px) {
      flex-direction: column;
      gap: 4rem;
      margin-top: 5rem;
    }

    .prize_card {
      margin-top: 6rem;
      border: 1px solid transparent;
      padding: 1rem;
      border-radius: 10px;
      cursor: pointer;
      transition: all 0.4s ease-in-out;
      height: fit-content;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      border: 1px solid rgba(255, 23, 23, 0.5);

      img {
        width: 85%;
      }
      h1,
      h2 {
        font-size: 2rem;
        font-weight: 700;
        font-family: var(--heading-font);
        letter-spacing: 0em;
        text-align: center;
      }

      h1 {
        color: var(--h4bred);
        font-size: 2.7rem;
        font-weight: 800;
      }

      &:hover {
        transform: scale(1.05);
        box-shadow: 0px 0px 20px 0px rgba(255, 23, 23, 0.5);
      }

      @media screen and (max-width: 576px) {
        margin-top: 0;
        box-shadow: 0px 0px 20px 0px rgba(255, 23, 23, 0.5);
        border: 1px solid var(--h4bred);

        img {
          width: 70%;
        }
        h1,
        h2 {
          font-size: clamp(1.5rem, 2vw, 4rem);
        }

        h1 {
          font-size: clamp(2.2rem, 2vw, 4rem);
        }
      }
    }
  }

  .prize__bottomcards {
    display: flex;
    margin-top: 8rem;
    justify-content: center;
    gap: 5rem;
    flex-wrap: wrap;
    position: relative;
    z-index: 3;

    @media screen and (max-width: 576px) {
      justify-content: space-between;
      gap: 0;
    }

    .prize__card {
      position: relative;
      -webkit-backface-visibility: hidden;
      width: 320px;
      position: relative;
      margin-bottom: 3px;
      max-width: 100%;
      cursor: pointer;

      @media screen and (max-width: 576px) {
        width: 163px;
      }

      .prize__card_flipbox {
        -ms-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-transform-style: preserve-3d;
        perspective: 1000px;
        -webkit-perspective: 1000px;
        margin-bottom: 10px;

        .front,
        .back {
          border-radius: 5px;
          background-image: url("../../assets/images/PrizesImages/PrizesBox2.png");
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          border-radius: 8px;
          min-height: 420px;
          -ms-transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
          transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
          -webkit-transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;

          -webkit-transform-style: preserve-3d;
          -ms-transform-style: preserve-3d;
          transform-style: preserve-3d;
        }

        .front {
          -ms-transform: rotateY(0deg);
          -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
          overflow: hidden;

          .prize__img_banner {
            transform: rotate(-45deg);
            position: absolute;
            background-color: #1b1b1b;
            padding: 12px;
            width: 300px;
            top: 18rem;
            right: -5rem;
            text-align: center;

            img {
              width: 43%;
            }

            @media screen and (max-width: 576px) {
              width: 190px;
              top: 21rem;
              right: -3rem;
            }
          }
        }

        .back {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          -ms-transform: rotateY(180deg);
          -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
        }

        &:hover .front {
          -ms-transform: rotateY(-180deg);
          -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
          -webkit-transform-style: preserve-3d;
          -ms-transform-style: preserve-3d;
          transform-style: preserve-3d;
        }

        &:hover .back {
          -ms-transform: rotateY(0deg);
          -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
          -webkit-transform-style: preserve-3d;
          -ms-transform-style: preserve-3d;
          transform-style: preserve-3d;
        }
      }
    }
  }
}

.prize__card_header {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 1rem;
  outline: 1px solid transparent;
  -webkit-perspective: inherit;
  perspective: inherit;
  z-index: 2;

  transform: translateY(-50%) translateZ(60px) scale(0.94);
  -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
  -ms-transform: translateY(-50%) translateZ(60px) scale(0.94);
  top: 50%;

  text-align: center;

  h3 {
    font-family: var(--heading-font);
    font-weight: 700;
    font-size: 1.875rem;
    letter-spacing: 1px;
  }

  p {
    color: white;
    font-family: var(--heading-font);
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 1px;
  }

  a {
    button {
      background-color: #ff1717;
      color: white;
      font-size: 16px;
      font-weight: 600;
      font-family: var(--body-font);
      padding: 10px;
      letter-spacing: 1px;
      border-radius: 6px;
      cursor: pointer;
      margin: auto;
    }
  }

  @media screen and (max-width: 576px) {
    padding: 0;
    h3 {
      font-size: 1.4rem;
    }

    p {
      font-size: 1rem;
    }

    a {
      button {
        background-color: transparent;
        border: none;
        color: var(--h4bred);
        font-size: 1rem;
        font-weight: 700;
        font-family: var(--heading-font);
        text-decoration: underline;
      }
    }
  }
}
