.prizes__parent {
  padding: 4rem 7rem;
  padding-bottom: 0;
  margin-top: 8rem;
  position: relative;
  overflow: hidden;

  @media screen and (max-width: 576px) {
    padding: 2rem 1.5rem;
    margin-top: 2rem;
  }

  .prizes_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    margin-top: 6rem;

    &.mobile {
      display: none;
    }

    @media screen and (max-width: 1200px) {
      margin-top: 4rem;
      flex-direction: column;
      gap: 3rem;
      width: 100%;
      align-items: center;

      &.mobile {
        display: flex;
        flex-direction: row;
      }

      .second_prize {
        &.desktop {
          display: none;
        }
      }

      .third_prize {
        &.desktop {
          display: none;
        }
      }
    }

    .prize_box {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 30%;
      text-align: center;

      h1,
      p {
        font-family: var(--heading-font);
      }

      @media screen and (max-width: 576px) {
        width: 80%;
        margin: 0 auto;
      }

      img {
        @media screen and (max-width: 576px) {
          width: 100%;
          margin: 0 auto;
        }
      }
    }

    .first_prize {
      h1 {
        font-size: 3.7rem;
        background: #ffffff;
        background: linear-gradient(to right, #ffffff 0%, #ffc700 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        @media screen and (max-width: 576px) {
          font-size: 2.5rem;
        }
      }

      p {
        font-size: 2rem;
        font-weight: 700;
      }
    }

    .second_prize {
      h1 {
        font-size: 2.5rem;

        background: #ffffff;
        background: linear-gradient(to right, #ffffff 0%, #554c4c 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        @media screen and (max-width: 576px) {
          font-size: 2.5rem;
        }
      }

      p {
        font-size: 1.4rem;
        font-weight: 700;
      }
    }

    .third_prize {
      h1 {
        font-size: 2.5rem;

        background: #ffffff;
        background: linear-gradient(to right, #ffffff 0%, #ec8423 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        @media screen and (max-width: 576px) {
          font-size: 2.5rem;
        }
      }

      p {
        font-size: 1.4rem;
        font-weight: 700;
      }
    }
  }
}