.singlespeaker {
  display: flex;
  width: 25rem;
  height: 10rem;
  background: linear-gradient(170deg,
      #b50a0a -100%,
      black 100%);
  border-radius: 4rem 0;
  overflow: hidden;
  box-shadow: 0 0.1rem 0.1rem 0rem #660000;

  @media screen and (max-width: 512px){
    width: 100%;
  }

  .singlespeaker__left {
    width: 12rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 0.2rem;
    padding-inline: 0.2rem;

    @media screen and (max-width: 512px){
      width: 40%;
      flex-grow: 1;
    }

    h4 {
      background-color: #00000066;
      width: fit-content;
      font-family: var(--heading-font);
      text-align: center;
      font-size: 0.8rem;
      font-weight: 100;
      padding: 0.2rem 1rem;
      border-radius: 0.6rem;
    }
  }

  .singlespeaker__right {
    padding-block: 1rem;
    padding-inline: 0.8rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;

    @media screen and (max-width: 512px){
      padding-inline: 0.7rem;
    }

    h3 {
      font-family: var(--heading-font);
      font-weight: 600;
      font-size: 1.2rem;
    }

    .singlespeaker__right__container {
      display: flex;
      flex-direction: column;
      width: fit-content;
      height: fit-content;
      gap: 1rem;

      .singlespeaker__right__date {
        display: flex;
        align-items: center;
        white-space: nowrap;
        height: 1rem;
        gap: 0.8rem;

        p {
          font-family: var(--heading-font);
          font-weight: 200;
          font-size: 0.7rem;
        }

        img {
          $size: 0.6rem;
          height: $size;
          width: $size;
        }
      }

      .singlespeaker__right__button {
        align-self: center;
        display: flex;
        align-items: center;
        height: fit-content;
        width: fit-content;
        border-radius: 5rem;
        border: 0.1rem solid white;
        padding-inline: 0.5rem;
        padding-block: 0.2rem;
        gap: 0.3rem;
        text-decoration: none;

        p {
          font-family: var(--heading-font);
          font-weight: 200;
          font-size: 0.5rem;
          color: var(--text-color);
        }

        img {
          $size: 1.4rem;
          height: $size;
          width: $size;
        }
      }
    }
  }
}