.faq {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;

  .faq__content {
    margin-top: 8.1rem;
    margin-bottom: 3rem;
    width: 78%; //69.99475
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 5.625rem;
    max-width: 1150px;


    @media screen and (max-width: 576px) {
      margin-top: 4rem;
      gap: 3rem;
      max-width: 95vw;
      width: 95%;
    }

    .faq__subheader {
      p {
        font-size: 1.3rem;
        color: var(--text-color);
        text-align: center;
        font-family: var(--heading-font);
        width: 77%;
        margin: 0 auto;

        @media screen and (max-width: 576px) {
          max-width: 95vw;
          width: 100%;
          padding: 0 1rem;
          font-size: 0.9rem;
          text-align: justify;
        }

        @media screen and (max-width: 1024px) {
          width: 95%;
        }

        @media screen and (max-width: 768px) {
          width: 100%;
        }
      }
    }

    .faq_item {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .container {
      margin: 0 auto;
      padding: 0 4rem 4rem 4rem;
      width: 65%; //48rem

      @media screen and (max-width: 1280px) {
        width: 70%;
        padding: 0 2rem 4rem 2rem;
      }

      @media screen and (max-width: 1024px) {
        width: 80%;
        padding: 0 0.5rem 4rem 0.5rem;
      }

      @media screen and (max-width: 768px) {
        max-width: 95vw;
        padding: 1rem;
        width: 100%;
      }

    }

    .accordion-title {
      font-size: 1.3rem;
      font-weight: 500;
      color: var(--text-color);
      font-family: var(--heading-font);

      @media screen and (max-width: 576px) {
        font-size: 1rem;
        max-width: 95%;
      }
    }

    .accordion .accordion-item {
      border-bottom: 1px solid #5e5e5e;
    }

    .accordion button {
      position: relative;
      display: block;
      text-align: left;
      width: 100%;
      padding: 1em 0;
      color: #ff1717;
      cursor: pointer;
      font-size: 1.15rem;
      font-weight: 400;
      border: none;
      background: none;
      outline: none;
    }

    .accordion button .accordion-title {
      padding: 1em 1.5em 1em 0;
    }

    .accordion button .icon {
      display: inline-block;
      position: absolute;
      top: 0;
      transform: translateY(130%);
      right: 0;
      width: 29px;
      height: 29px;
      background-color: #0f0e0e;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;

      @media screen and (max-width: 576px) {
        top: 50%;
        transform: translateY(-50%);
      }
    }

    .accordion button[aria-expanded="true"]+.accordion-content {
      opacity: 1;
      max-height: 9em;
      transition: all 200ms linear;
      will-change: opacity, max-height;
    }

    .accordion .accordion-content {
      opacity: 0;
      max-height: 0;
      overflow: hidden;
      transition: opacity 200ms linear, max-height 200ms linear;
      will-change: opacity, max-height;
    }

    .accordion .accordion-content p {
      font-size: 15px;
      font-weight: 300;
      margin-bottom: 1.2em;
      font-family: var(--body-font);
      opacity: 0.8;

      a {
        color: #ff1717;
        font-weight: 500;
        font-family: var(--heading-font);
      }
    }
  }

  .faq__blob {
    position: absolute;
    width: 9.64481rem;
    height: 9.54356rem;
    flex-shrink: 0;
    top: 3rem;
    left: 12rem;
  }

  .faq__vector__container {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    .faq__emojis {
      position: absolute;
    }

    .faq__message__vector {
      top: 223px;
      left: 107px;

      @media screen and (max-width: 1556px) {
        display: none;
      }
    }

    .faq__question_mark_1__vector {
      top: 913px;
      left: 691px;
    }

    .faq__question_mark_2__vector {
      top: 103px;
      left: 1198px;
    }

    .faq__random_shape_1__vector {
      top: 574px;
      left: 1382px;
    }

    .faq__square__vector {
      top: 392px;
      left: 1519px;
    }

    .faq__triangle__vector {
      top: 942px;
      left: 142px;
    }

    .faq__zig_zak_1__vector {
      top: 1132px;
      left: 1009px;
    }

    .faq__zig_zak_2__vector {
      top: 666px;
      left: 354px;
    }
  }
}