.collaborators__parent {
  padding: 4rem 7rem;
  margin-top: 8rem;
  position: relative;
  overflow: hidden;

  @media screen and (max-width: 576px) {
    padding: 2rem 1.5rem;
    margin-top: 2rem;
  }

  .collaborators__flexbox__container {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    @media screen and (max-width: 576px) {
      margin-top: 3rem;
    }

    .collaborators__flexbox {
      max-width: 1400px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 2rem;

      img {
        width: 15rem;
        cursor: pointer;
        border-radius: 16px;

        @media screen and (max-width: 900px) {
          width: 12rem;
        }

        @media screen and (max-width: 700px) {
          width: 9rem;
        }
      }

      @media screen and (max-width: 700px) {
        display: grid;
        grid-row-gap: 1rem;

        grid-column-gap: 1rem;
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}
