.sponsors__parent {
  padding: 4rem 7rem;
  margin-top: 8rem;
  position: relative;
  overflow: hidden;

  @media screen and (max-width: 576px) {
    padding: 2rem 1.5rem;
    margin-top: 2rem;
  }

  .sponsors__flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
    gap: 1.5rem;
    max-width: 1400px;
    margin: auto;
    margin-top: 6rem;

    @media screen and (max-width: 576px) {
      margin-top: 3rem;
      gap: 1rem;
    }
  }
}
