.brand_card {
  box-sizing: border-box;
  padding: 20px;
  text-align: center;
  border: 1px solid red;
  background-color: rgb(38, 37, 37);
  border-radius: 10px;
  .brand_card__image {
    margin: auto;
    border-radius: 10px;
    min-height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      height: 7rem;
      object-fit: contain;
    }
  }

  .brand_card__contents {
    margin: 1rem 0;
    font-family: var(--body-font);
    display: flex;
    flex-direction: column;
    align-items: center;

    .brand_card__text {
      min-height: 5rem;
      p {
        font-size: 15px;
        letter-spacing: 1px;
      }
    }

    .brand_card__download-button {
      margin: 2rem 0 0rem 0;

      a {
        color: #ffffff;
        text-decoration: none;
        border: 1px solid #ffffff;
        padding: 5px 40px;
        border-radius: 4px;
        font-size: 15px;
        transition: all 0.2s ease-in-out;

        &:hover {
          border: 1px solid var(--h4bred);
          transition: all 0.2s ease-in-out;
        }
      }
    }
  }
}
