.footer {
  position: relative;
  bottom: 0;
  left: 0;
  overflow: hidden;
  margin: auto;
  font-family: var(--heading-font);
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media screen and (max-width: 430px) {
    height: auto;
  }

  .footer_flexdiv {
    display: flex;
    justify-content: space-between;
    padding: 0 9rem;
    margin-top: auto;
    align-items: end;

    .h4b_logo {
      width: 20rem;
      margin-left: -5px;

      @media screen and (max-width: 430px) {
        width: 18rem;
      }
    }

    .h4b_logo_2 {
      display: none;
    }

    @media screen and (max-width: 430px) {
      flex-direction: column;
      gap: 1.5rem;
      padding: 0rem 1.5rem;
      justify-content: center;
      align-items: center;
    }

    .footer_content {
      @media screen and (max-width: 430px) {
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-items: center;
      }

      .footer_policy {
        display: flex;
        align-items: center;
        gap: 1.1rem;

        p {
          font-size: 15px;
          font-weight: 500;
          color: var(--alt-color);
          transition: all 0.2s ease-in-out;
          font-family: var(--heading-font);

          &:hover {
            cursor: pointer;
            color: var(--h4bred);
          }
        }
      }
      .footer_email {
        margin-top: 1.2rem;
        display: flex;
        flex-direction: column;
        gap: 1.2rem;

        @media screen and (max-width: 430px) {
          align-items: center;
        }

        p {
          font-size: 15px;
          font-weight: 500;
          color: var(--alt-color);
          transition: all 0.2s ease-in-out;
          font-family: var(--heading-font);

          opacity: 0.6;
          &:hover {
            cursor: pointer;
            color: var(--h4bred);
          }
        }

        a {
          color: var(--h4bred);
          text-decoration: none;
          font-weight: 600;
          font-size: 15px;
          transition: all 0.2s ease-in-out;
          &:hover {
            color: var(--h4bred);
          }
        }
      }
    }
  }

  .footer_flexdiv:nth-of-type(2) {
    margin-top: 4rem;

    @media screen and (max-width: 430px) {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }

  .footer_socials {
    display: flex;
    gap: 1.4rem;
    justify-content: center;
    align-items: center;
    z-index: 1;

    @media screen and (max-width: 430px) {
      gap: 1rem;
    }

    img {
      width: 1.8rem;
      height: 1.8rem;
      transition: all 0.2s ease-in-out;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .footer_gradient {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 30rem;
    width: 45%;
  }

  .footer_tram {
    position: absolute;
    top: 1.7rem;
    right: 0;
    height: 25rem;
    width: 52%;
    opacity: 0.8;

    @media screen and (max-width: 430px) {
      display: none;
    }
  }

  .footer_previousSeasons {
    position: absolute;
    bottom: 0.3rem;
    height: 100px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    overflow: hidden; /* To handle text overflow */

    @media screen and (max-width: 430px) {
      display: none;
    }

    img {
      width: 6.8rem;
      height: 4rem;
      transition: transform 1s ease-in-out, opacity 1s ease-in-out; /* Smoother transition */
    }

    .text-container {
      display: flex;
      gap: 1rem;
    }

    p, a {
      font-size: 1.1rem;
      font-weight: 600;
      cursor: pointer;
      color: var(--h4bred);
      transition: color 0.2s ease-in-out;
      font-family: var(--heading-font);
      font-size: 1rem;
      margin: 0;

      &:hover {
        color: var(--h4bred);
      }

      &:nth-of-type(2) {
        // text-decoration: underline;
        offset: 0.5rem;
      }
    }

    .hidden {
      display: none;
    }

    .footer__previous__season__link {
      color: var(--h4bred);
      text-decoration: none;
      font-weight: 600;
      font-size: 1rem;
      transition: all 0.2s ease-in-out;
    }

    .footer__previous__season__link:hover {
      text-decoration: underline;
    }

    .second-text {
      margin-left: 0.5rem;
      opacity: 1;
      transition: opacity 0.5s ease-in-out; /* Smooth transition for text */
    }

    .second-text.hidden {
      opacity: 0;
    }

    &.move-taxi img {
      transform: translateX(
        calc(100% + 0.9rem)
      ); /* Moves taxi to the right side of the text */
      opacity: 0; /* Fades the taxi out */
    }
  }

  @keyframes moveTaxi {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(
        calc(100% + 0.5rem)
      ); /* Moves taxi to the right side of the text */
    }
  }

  @keyframes moveTaxi {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(
        calc(100% + 0.5rem)
      ); /* Moves taxi to the right side of the text */
    }
  }

  @keyframes moveTaxi {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(
        calc(100% + 0.5rem)
      ); /* Moves taxi to the right side of the text */
    }
  }
}
