.theme__parent {
  padding: 4rem 7rem;
  padding-bottom: 0;
  margin-top: 8rem;
  position: relative;
  overflow: hidden;

  @media screen and (max-width: 576px) {
    padding: 2rem 1.5rem;
    margin-top: 2rem;
  }
}
