.venue_parent {
  padding: 4rem 7rem;
  padding-bottom: 0;
  margin-top: 8rem;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--heading-font);

  @media screen and (max-width: 576px) {
    padding: 2rem 1.5rem;
    margin-top: 2rem;
  }

  iframe {
    width: 70%;
    margin: 0 auto;
    margin-top: 5rem;
    height: 450px;
    border: none;
    border-radius: 20px;
    border: 3.5px solid #ff1717;

    &:focus {
      outline: none;
    }

    @media screen and (max-width: 576px) {
      width: 100%;
      height: 200px;
      margin-top: 3rem;
    }
  }

  .location_header {
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: 700;

    @media screen and (max-width: 576px) {
      text-align: center;
      font-size: 1.3rem;
    }
  }

  .location_subheader {
    margin-top: 0.5rem;
    font-size: 1rem;
    font-weight: 500;

    @media screen and (max-width: 576px) {
      text-align: center;
      font-size: 17px;
    }
  }

  .location__btn_div {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    @media screen and (max-width: 576px) {
      flex-direction: column;
    }

    .location__btn {
      padding: 1rem 1.4rem;
      margin: 0 1rem;
      font-size: 1rem;
      font-weight: 600;
      border: none;
      border-radius: 10px;

      background-color: #ff1717;
      color: white;
      cursor: pointer;
      font-size: 1rem;
      font-family: var(--heading-font);

      transition: all 0.3s ease;

      &:hover {
        background-color: #ff0000;
      }

      @media screen and (max-width: 576px) {
        margin: 0.5rem 0;
      }
    }
  }
}
