.cs__parent {
  position: relative;
  z-index: 2;
  width: 100%;
  margin-top: 8rem;

  @media screen and (max-width: 576px) {
    margin-top: 4rem;
  }

  h1 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 3rem;
    text-align: center;
    letter-spacing: 0em;
    font-family: var(--heading-font);
    color: var(--h4bred);

    @media screen and (max-width: 576px) {
      font-size: 1.5rem;
    }
  }
}
