:root {
    --border-radius: 8px;
    --speed: 500ms;
}

.dropdown-menu {
    position: absolute;
    top: 85px;
    right: 0px;
    background-color: #fff;
    /*  background-color: #1B1B1B; */
    border-radius: var(--border-radius);
    padding: 10px 20px;
    width: 150px;
    font-family: var(--font-family);
    justify-content: space-evenly;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 1.5px;
    text-transform: capitalize;
    cursor: pointer;
    /*  color: #b0b0b0; */
    border: 2px solid #fff8;
}

.dropdown-menu::before {
    content: '';
    position: absolute;
    top: -11px;
    right: 20px;
    height: 20px;
    width: 20px;
    background: #fff;
    /*  background-color: #1B1B1B; */
    transform: rotate(45deg);
    border: 2px solid #fff;
    border-right: none;
    border-bottom: none;
}

.dropdown-menu.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: var(--speed) ease;
}

.dropdown-menu.inactive {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: var(--speed) ease;
}



.dropdown-menu ul li {
    padding: 10px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.dropdown_texts:hover {
    color: rgb(212, 33, 9);
    cursor: pointer;
}

/* .dropdown_texts:after {
    margin-top: 4px;
    display: block;
    content: "";
    border-bottom: 2px solid #ff1717;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
}

.dropdown_texts:hover::after {
    transform: scaleX(0.8);
    border-radius: 4px;
} */

.dropdown-menu ul li:hover img {
    opacity: 1;
    cursor: pointer;
}

.dropdownItem {
    display: flex;
    margin: 10px auto;
}

.dropdownItem img {
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: var(--speed);
}

.dropdownItem a {
    max-width: 100px;
    margin-left: 10px;
    transition: var(--speed);
}

.dropdown-menu ul li {
    padding: 10px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.dropdown-menu ul li:hover a {
    color: rgb(212, 33, 9);
    cursor: pointer;
}

.dropdown-menu ul li:hover img {
    opacity: 1;
    cursor: pointer;
}

.dropdownItem {
    display: flex;
    margin: 10px auto;
}

.dropdownItem img {
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: var(--speed);
}

.dropdownItem a {
    max-width: 100px;
    margin-left: 10px;
    transition: var(--speed);
}