.sponsors__parent {
  padding: 4rem 7rem;
  margin-top: 8rem;
  position: relative;
  overflow: hidden;

  @media screen and (max-width: 576px) {
    padding: 2rem 1.5rem;
    margin-top: 2rem;
  }

  .sponsors__header {
    font-size: clamp(3rem, 7vw, 5rem);
    line-height: 3rem;
    text-align: center;
    letter-spacing: 0em;
    font-family: var(--heading-font);
    position: relative;
    z-index: 2;
    text-wrap: nowrap;

    h1 {
      font-weight: 900;
      font-size: 130px;
      letter-spacing: 0.8rem;
      color: rgba(255, 255, 255, 0.06);
      position: absolute;
      transform: translate(-50%, -50%);
      left: 50%;
      top: 18%;
      z-index: 2;

      &::after {
        content: "";
        position: absolute;
        border: 1px solid var(--h4bred);
        width: 250px;
        bottom: 10px;
        left: 50%;
        transform: translate(-50%, -50%);

        @media screen and (max-width: 576px) {
          bottom: -10px;
        }
      }

      @media screen and (max-width: 576px) {
        font-size: 75px;
        letter-spacing: 0.2rem;
        top: -20%;
        left: 50%;
      }
    }

    h2 {
      font-size: clamp(1.8rem, 2.5vw, 2.8rem);
      font-weight: 700;
      width: 100%;
    }
  }

  .sponsors__flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
    gap: 1.5rem;
    max-width: 1400px;
    margin: auto;
    margin-top: 6rem;

    @media screen and (max-width: 576px) {
      margin-top: 3rem;
      gap: 1rem;
    }
  }
}
